.hero-img {
  height: 300px;
  @media (min-width: $tablet) {
    height: 400px;
  }
  @media (min-width: $laptop) {
    height: 500px;
  }
  background: #ddd url("../img/craftsman.jpg") no-repeat center;
  background-size: cover;
}

.hero-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  @media (min-width: $tablet) {
    align-items: center;
  }
  h1 {
    color: #FFF;
    margin: 0;
    font-size: 37px;
    border-bottom: 3px solid #FFF;
    line-height: 3rem;
    @media (min-width: $laptop) {
      font-size: 49px;
    }
  }
  p {
    color: #FFF;
    margin: 0;
    font-size: 23px;
    line-height: 1.75rem;
    @media (min-width: $laptop) {
      font-size: 34px;
    }
  }
}

.hero-text-inner {
  margin: 0 auto 1rem;
  text-align: center;
  @media (min-width: $tablet) {
    margin: 0 3rem;
    text-align: left;
  }
}

.select-panel {
  height: 6rem;
  @media (min-width: $laptop) {
    height: 10.5rem;
  }
  @media (min-width: $desktop) {
    height: 8rem;
  }
  text-align: center;
  border: 0.5rem solid #FFF;
  padding: 0 1rem;
  cursor: pointer;
  &:hover {
    border-color: #bbb6a7;
  }
  h1,
  h2,
  p {
    margin: 0;
  }
  h1 {
    font-size: 20px;
    @media (min-width: $laptop) {
      font-size: 24px;
    }
  }
  p {
    font-size: 18px;
    @media (min-width: $laptop) {
      font-size: 22px;
    }
  }
}

.contact {
  text-align: right;
  padding: 0 0.5rem;
  p {
    font-weight: bold;
  }
}